<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New order</title>
</head>
<body>

<form th:method="POST" th:action="@{/orders}" th:object="${order}">
    <label for="category">Enter category: </label>
    <input type="text" th:field="*{category}" id="category"/>
    <div style="color:red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category Error</div>
    <br/>
    <label for="product_name">Enter product name: </label>
    <input type="text" th:field="*{product_name}" id="product_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('product_name')}" th:errors="*{product_name}">Product name Error</div>
    <br/>
    <label for="customer_id">Enter customer ID : </label>
    <input type="text" th:field="*{customer_id}" id="customer_id"/>
    <br/>
    <hr/>
    <b><label>Select customer:</label></b>
    <div th:each="customer : ${customers}">
        <p th:text="${customer.getName() + ' ' + customer.getSurname() + ', ' + customer.getCity()+ '. ID - ' + customer.getId()}">customer</p>
    </div>
    <hr/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>